.navbar {
    height: 75px;

    background-color: rgba(255, 255, 255, 0);
}

.navbarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarCenter {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px !important;

    text-align: right;
    width: 100%;

    display: flex;
    justify-content: right;
    flex-grow: 1;

    font-size: 1.2rem;
    font-weight: 100;

    border-radius: 0px 0px 25px 25px;
}

.logoImage {
    margin-top: -5px;
    margin-right: 10px;

    width: 50px;
}

.logoTitle {
    margin-left: 10px;

    font-size: 1.2rem;
    font-weight: bold;

    color: #4E6BFF;
}

.navbarText {
    position: relative;
    margin: 0px 15px 0px 15px;

    font-weight: bolder !important;

    color: #293651 !important;
}

.navbarTextColored {
    position: relative;
    margin: 0px 20px 0px 20px;

    font-weight: bolder !important;

    color: #4E6BFF !important;
}

.navbarTextColored::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;

    content: '';
    
    transform-origin: left;
    transform: scaleX(0); 
    transition: transform 0.3s ease;
    transform: scaleX(1);

    background-color: #4E6BFF;
}

.navbarText::after {
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;

    content: '';
    
    transform-origin: left;
    transform: scaleX(0); 
    transition: transform 0.3s ease;

    background-color: #4E6BFF;
}

.navbarText:hover::after {
    transform: scaleX(1);
}

.navbarText:hover {
    color: #4E6BFF !important;
}

.navbar>.container {
    text-align: right;
}

.navbar.scrolled {
    box-shadow: 0 5px 6px -6px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
}

.navbarCenter.scrolled {
    margin-top: 10px;
    background-color: #FFFFFF;
}

@media only screen and (max-width: 500px) {
    .navbarCenter {
        background-color: #F9F9F9;
    }
}