.homeContainer {
    margin-top: 75px;
}

.homeContainerHeroSection, .homeContainerWhyUs, .homeContainerBenefits, .homeContainerPricing, .homeContainerFAQ {
    padding-left: 10%;
    padding-right: 10%;

    min-height: calc(100vh - 75px);
}

.homeContainerWhyUs, .homeContainerPricing {
    background-color: #F4F7FA;
}

.homeTitle {
    margin-top: 75px;

    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;

    color: #293651;
}

.homeTitle2 {
    font-size: 1.5rem;
    font-weight: 400;
    
    color: #4E6BFF;
}

.homeSubTitle {
    margin-top: 25px;

    font-size: 1.2rem;
    
    color: #79808A;
}

.heroSectionImage {
    width: 100%;
}

.whyUsImage {
    width: 80%;

    border-radius: 10px;
}

.homeButton {
    margin-top: 25px;

    height: 50px;
    width: 200px;

    border-radius: 25px;
    
    font-weight: bold;
}

.blueButton {
    width: 50px;
}

.blueButton:hover {
    transform: scale(1.1);
}

.buttonTitle {
    margin-left: 25px;

    font-size: 1.2rem;
    font-weight: 600;
}

.buttonTitle:hover {
    color: #4E6BFF;
}

a {
    color: #181C31 !important;
}

.homeCards {
    margin-top: 25px;
    margin-bottom: 25px;
}

.stepsTitle {
    margin-right: 25px;

    font-size: 1rem;
}

.cardsButton {
    width: 175px;
    height: 50px;

    font-weight: 600;

    border-radius: 25px;
}

.rightArrow {
    margin-bottom: 10px;
    margin-right: 25px;

    width: 30px;
}

.containerShape {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.title1Pricing {
    font-size: 1.3rem;
    font-weight: bolder;

    color: #4E6BFF;
}

.title2Pricing {
    margin-top: 50px;

    font-size: 2.5rem;
    font-weight: bolder;

    color: #293651;
}

.containerBoxPricing {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardBoxPricing {
    margin: 15px;
    padding: 30px;

    width: 375px;
    height: 550px;

    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgb(240, 240, 240);

    background-color: #FFFFFF;
    transition: background-color 0.3s ease;
}

.cardBoxPricing:hover {
    background-color: #4E6BFF;
}

.cardTitle {
    font-size: 2rem;
    font-weight: bolder;

    color: #293651;
}

.cardPrice {
    font-size: 2.3rem;
    font-weight: bolder;

    color: #4E6BFF;
}

.cardBoxPricing:hover .cardTitle {
    color: #FFFFFF;
}

.cardBoxPricing:hover .cardPrice {
    color: #293651;
}

.cardTextBenefits {
    font-size: 1rem;

    color: #79808A;
}

.cardDescription {
    color: #293651;
}

.cardBoxPricing:hover .cardTextBenefits {
    color: #FFFFFF;
}

.imageVerify {
    width: 20px;

    margin-right: 5%;
}

.buttonPricing {
    margin-top: 10px;
    padding: 15px 35px 15px 35px !important;

    font-size: 1rem !important;
    font-weight: 600 !important;

    color: #F9F9F9 !important;
    border-radius: 50px !important;
    border-color: #4E6BFF !important;
    background-color: #4E6BFF !important;
}

.cardBoxPricing:hover .buttonPricing {
    background-color: #FFFFFF !important;
    color: #4E6BFF !important;
}

.pricingContainerWrapper {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.pricingContainerWrapperVisible {
    opacity: 1;
    transform: translateX(0);
}

.accordion-header {
    background-color: transparent;
}

.accordion-item:first-of-type, .accordion-item:not(:first-of-type) {
    border-radius: 20px !important;
}

.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.accordion-button {
    font-size: 1.1rem;

    border-radius: 20px;

    color: #FFFFFF;
    background-color: #4E6BFF !important;
}

.accordionContainer {
    padding-left: 5%;
    padding-right: 5%;
}

.accordionCard {
    margin-top: 20px;
    margin-bottom: 20px;

    font-size: 1.1rem;
    color: #293651;
}

.carousel-control-next-icon {
    background-image: url('../../assets/icons/RightArrow.png');
}

.carousel-control-prev-icon {
    background-image: url('../../assets/icons/LeftArrow.png');
}

.carouselImages {
    width: 90%;
}

@media only screen and (max-width: 990px) {
    .homeTitle, .homeSubTitle, .homeTitle2 {
        text-align: center;
    }

    .homeButtonContainer, .hrefContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homeTitle2, .whyUsImage, .title2Pricing {
        margin-top: 25px;
    }
    
    .homeButtonContainer, .heroSectionImage, .hrefContainer {
        margin-bottom: 25px;
    }

    .stepsTitle, .rightArrow {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .cardBoxPricing {
        height: 650px;
    }
}