.aboutContainer {
    margin-top: 75px;

    min-height: calc(100vh - 75px);
}

.backgroundAbout {
    margin-top: 75px;
    width: 100%;

    height: 65vh;

    background-color: #F4F7FA;
}

.aboutThreads {
    width: 100%;

    position: absolute;

    top: 75px;
    left: 0;
}

.aboutTitle {
    padding-top: 50px;
    margin-bottom: 0px;

    font-size: 3rem;
    font-weight: bold;
    text-align: center;

    color: #293651;
}

.aboutSubTitle {
    margin-top: 0px;

    font-size: 1.2rem;
    text-align: center;
    
    color: #79808A;
}

.staffTitle {
    font-size: 1.5rem;
    font-weight: 600;
}

.staffSubTitle {
    font-size: 1rem;

    color: #79808A;
}

.staffSubSubTitle {
    margin-top: 5px;
    margin-bottom: 5px;
}

.aboutTitle2 {
    padding-top: 25px;

    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;

    color: #000;
}

.aboutSubTitle2 {
    font-size: 1.3rem;
    text-align: center;
    
    color: #79808A;
}

.aboutDescription {
    margin-top: 0px;
    margin-bottom: 0px;

    font-size: 1.1rem;

    text-align: justify;
}

.indent {
    display: inline-block;
    margin-left: 50px;
}